;; The tasks of the Borba standard live in borba-tooling. This file pins the
;; version this repository follows (%%tooling-version%%); bump it with
;; `bb -x borba.tooling.stamp/run` from a clone of borba-tooling.
{:deps
 {io.github.af2b/borba-tooling
  {:git/url "https://github.com/AF2B/borba-tooling"
   :git/sha "%%tooling-sha%%"}}}
